* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  /* background-image: url('assets/paper-pattern-2.jpg'); */
  background-size: 50%;
}
img{
  max-width: 100%;
  max-height: 100%;
}
#countdown{
  font-size: 3em;
  color: rgb(11, 0, 77);
}
.btn{
  background-color: white;
  width: 50px;
  height: 50px;
  color: gray;
  display: inline-block;
  text-align: center;
  border-radius: 25px;
  line-height: 50px;
  margin: 5px;
  font-size: 25px;
}
.player-area {
  width: 50%;
  height: 100%;
  
}
.player-area.player1 {
  background-color: #1482FF;
}
.player-area.player2 {
  background-color: #FF2E5F;
}
.img-container{
  width: 300px;
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px 1px rgb(9, 0, 90);
}
.flex-area {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
  justify-content: space-around;
}
.flex-area.weapon{
  background-color: #FAE56B;
}
.flex-area div{
  text-align: center;
}